embed {
  pointer-events: none;
}

@media screen and (max-width:1366px) {
  #robot {
    width: 100%;
    height: 120vh;
    background-image: url("../img/line/true.png");
    background-repeat: no-repeat;
    background-position: center;
    /*居中*/
    background-size: 100% 100%;
    /*铺满*/
    /*开启BFC*/
    overflow: hidden;
    /*取消点击图片蓝色底纹*/
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
  }

  .wrapper {
    margin: 0 auto;
    width: 1366px;
    max-width: 1360px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media screen and (min-width:1367px) {
  .wrapper {
    margin: 0 auto;
    box-sizing: border-box;
  }

  #robot {
    width: 100%;
    height: 100vh;
    background-image: url("../img/line/true.png");
    background-repeat: no-repeat;
    background-position: center;
    /*居中*/
    background-size: 100% 100%;
    /*铺满*/
    overflow: hidden;
    /*开启BFC*/

    /*取消点击图片蓝色底纹*/
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
  }
}


.title-img img {
  width: 100%;
}

.title-img .title-text {
  color: #7bfcfc;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 15px;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
}

.left-list {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10px 0px;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin-top: -20px;
}

.static-item {
  width: 45%;
  height: 28%;
  margin: 10px 7px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 0px 20px rgba(15, 165, 224, .3);
  position: relative;
}


.static-item .static-name {
  color: #a4adbb;
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}

.static-img-data {
  margin-top: 25px;
  margin-left: 35px;
}

.static-img-data span {
  color: #f0f0f5;
  font-size: 16px;
  margin-left: 3px;
}

._0 {
  background-image: url("../img/imgFAST/supplyImg/tem.png");
}

._1 {
  background-image: url("../img/imgFAST/supplyImg/humidity.png");
}

._1 .static-img-data span {
  color: khaki;
}

._2 {
  background-image: url("../img/imgFAST/supplyImg/yiqiyibiao-tem.png");
}

._2 .static-img-data span {
  color: red;
}

._3 {
  background-image: url("../img/imgFAST/supplyImg/yiqiyibiao-el.png");
}

._4 {
  background-image: url("../img/imgFAST/supplyImg/fangwei.png");
}

._5 {
  background-image: url("../img/imgFAST/supplyImg/fushe.png");
}

._5 .static-img-data span {
  color: khaki;
}

.static-img-data img {
  height: 42px;
  vertical-align: bottom;
}

.mid-map {
  margin: 0 35px;
  margin-top: 55px;
  background-color: #0e366b;
  width: 50%;
  height: 420px;
  position: relative;
  border: 1px solid #8be3fe;
  border-radius: 8px;
}

.mid-map .bg {
  margin-top: 80px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.mid-map .she {
  margin-top: 80px;
  width: 520px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.mid-map .chart {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.footer-list {
  position: relative;
  margin: 0 20px;
  margin-top: 20px;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px rgba(15, 165, 224, .3);

}

.she-bg {
  position: absolute;
  width: 100%;
  height: 102%;
  top: 0px;
  left: 0px;
}

.left-icon img,
.right-icon img {
  margin-top: 5px;
  height: 140px;
}

.right-icon {
  transform: rotateY(180deg);
}

.video-box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  justify-content: space-between;
}

.video img {
  width: 220px;
  height: 150px;
}

.video {
  position: relative;
}

.font-postion {
  position: absolute;
  color: #52b3d1;
  font-size: 12px;
  top: 170px;
  left: 80px;
}

#box1 {
  width: 100px;
  height: 100px;
  background-color: rgba(243, 152, 1, .6);
  border-radius: 50%;
  animation-name: test;
  /*关键帧名字*/
  animation-duration: 2000ms;
  /*动画持续时间*/
  animation-iteration-count: infinite;
  /*执行次数*/
  transition-timing-function: ease-out;
  /*执行方式，减速*/
  position: relative;
  top: 40%;
  left: 40%;
  z-index: 10;
}

@keyframes test {

  /* from表示动画的开始位置 也可以使用 0% */
  from {
    transform: scale(0.75);

  }

  /* to动画的结束位置 也可以使用100%*/
  to {

    transform: scale(1.1);
    background-color: rgba(243, 152, 1, 0);
  }
}

.box2 {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(243, 152, 1, .8);
  border-radius: 50%;
  animation-name: test2;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  transition-timing-function: ease-out;
}

@keyframes test2 {

  /* from表示动画的开始位置 也可以使用 0% */
  from {
    transform: scale(0.75);

  }

  /* to动画的结束位置 也可以使用100%*/
  to {

    transform: scale(1);
    background-color: rgba(243, 152, 1, 0);
  }
}

.box3 {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(243, 152, 1, 1);
  border-radius: 50%;
  font-size: 5px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.right-list {
  margin-top: 10px;
  width: 370px;
}


.postion-control,
.she-control {
  height: 220px;
  padding: 5px;
  margin-bottom: 10px;
  background-image: url("../img/imgFAST/she-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 0px 20px rgba(15, 165, 224, .3);
  position: relative;
}

.postion-control-box {
  width: 126px;
  height: 126px;
  background-image: url('../img/imgFAST/robotBtn/po-bg.png');
  background-size: 126px 126px;
  background-repeat: no-repeat;
  position: relative;
  top: 36px;
  left: 10px;
}

.she-control .top img,
.she-control .bottom img {
  margin-left: 107px;
}

.onclickBtn {
  width: 23px;
  height: 23px;
  vertical-align: middle;
  margin-left: 140px;
  margin-top: -30px;
}

.btn {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 999999;
}

.top,
.bottom,
.left,
.right {
  display: inline-block;
  position: relative;
  border-radius: 15px;
}

.top,
.bottom {
  width: 60px;
  height: 30px;
}

.left,
.right {
  width: 30px;
  height: 60px;
}

.top {
  top: 10px;
  left: 34px;
}

.bottom {
  top: -9px;
  left: 34px;

}

.left {
  top: 3px;
  left: 12px;
}

.right {
  top: 4px;
  left: 50px;
}

.top embed,
.left embed,
.right embed,
.bottom embed {
  position: absolute;
  pointer-events: none;
  /*click穿透作用*/
}

.top embed {
  top: -4px;
  left: -12px;
}

.left embed {
  top: -12px;
  left: -6px;
}

.right embed {
  top: -13px;
  left: 0px;
}

.bottom embed {
  top: 0px;
  left: -12px;
}


.test-distance {
  position: relative;
  top: -95px;
  left: 175px;
}

.test-distance span {
  position: absolute;
  color: #339cb9;
  font-size: 12px;
  font-family: MicrosoftYahei;
}

.test-distance .num-top {
  position: absolute;
  top: -14px;
  left: 47px;
}

.test-distance .num-left {
  position: absolute;
  top: 60px;
  left: -25px;
}

.test-distance .num-right {
  position: absolute;
  top: 60px;
  left: 118px;
}

.test-distance .num-bottom {
  position: absolute;
  top: 130px;
  left: 47px;
}

.control-item {
  position: relative;
  top: 16px;
  left: 16px;
  font-size: 14px;
  color: #53b3b1;
  font-family: MicrosoftYahei;
}

.control-add-sup {
  height: 100px;
  position: relative;
  top: -110px;
  left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.focus {
  position: relative;
}

.LR {
  position: relative;
}

.focus .add,
.LR ._add {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 100px;
}

.focus .sup,
.LR ._sup {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 5px;
}

.nav-position {

  margin-top: 25px;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 9999;
  display: inline-block;
}

.nav-bar {
  display: flex;
  width: 240px;
  height: 31px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-bar-item {
  color: #fff;
  font-size: 12px;
  font-family: MicrosoftYahei;
  border: 1px solid #0c3e77;
  padding: 5px 18px;
  border-radius: 10px;
  background-color: #0e366b;
  position: relative;
}

.active {
  border: 1px solid #8be3fe;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #0e366b;
}

.footer-font {
  position: absolute;
  top: -25px;
  left: 35px;
  font-size: 14px;
  color: #52b3d1;
}